/*
Theme Name: Memberlite [Words]
Theme URI: http://demo.memberlitetheme.com/words/
Description: [Words] can speak louder than pictures in this child theme for Memberlite.   
Author: Kim Coleman, Travis Lima
Author URI: http://www.memberlitetheme.com/  
Template: memberlite
Version: 1.0
License: GPL-2.0+  
License URI: http://www.gnu.org/licenses/gpl-2.0.html  
*/



/*--------------------------------------------------------------
5.2 Menus
--------------------------------------------------------------*/
.meta-navigation a, .header-right .widget_nav_menu a, .footer-navigation a
	color: #AAA;
}

#meta-member aside.widget {
    background-color: #474747;
}

/*--------------------------------------------------------------
10.1 Header and Member Meta
--------------------------------------------------------------*/
#meta-member aside {
	margin: 0;
}
.site-branding {
	margin: 0 0 10rem 0;
	text-align: center;
}
.site-branding a.custom-logo-link {
	float: none;
}
.site-branding a.custom-logo-link .custom-logo {
	max-height: 200px;
}	
.site-branding .site-branding_avatar {

}
.site-branding .site-branding_avatar a {
	display: block;
}
.site-branding .site-branding_avatar a img {
	border-radius: 50%;
	transform: scale(1.0);
}
.site-branding .site-title {
	margin: 0;
}
.site-branding .site-description {
	font-style: normal;
	margin: 0;
}

.masthead_words .row {
/*
	border-top: 5px solid #EFEFEF;
	padding-top: 2rem;
*/
}

 .page .masthead_words h1 {
	text-align: center;
}

.tml {
	margin: 0 auto;
}

.hentry {
	margin: 0 0 10rem 0;
}

.blog article.hentry, .archive article.hentry {
/*
	border-top: 5px solid #EFEFEF;
	padding-top: 2rem;
*/
}
.blog article.hentry:first-child, .archive article.hentry:first-child {
/*
	border-top: none;
*/
}

.post .entry-meta {
	font-style: normal;
}

.post .entry-footer {
	background: none;
	border: none;
	font-style: normal;
	padding: 0;
}

/*--------------------------------------------------------------
10.7 Footer
--------------------------------------------------------------*/
nav#footer-navigation {
	background: #EFEFEF;
	padding: 10rem 0;
}
.footer-navigation {
	border: none;
	padding: 0;
	text-align: center;
}
.footer-navigation li {
	border: none;
}
.site-footer .site-info p, .site-footer .site-info a {
	color: #AAA;
	font-style: normal;
	font-size: .9em;
}
.site-footer .site-info a {
	text-decoration: none;
}

/*--------------------------------------------------------------
11.1 Paid Memberships Pro Integrated Styles - Level Page & Checkout
---------------------------------------------------------------*/

a.pmpro_btn.pmpro_btn-select {
    background-color: #474747;
}

#pmpro_levels_table thead tr th {
    display: none;
}

.masthead_words h1.entry-title {
    padding-bottom: 20px;
    color: #b3b3b3;
}

#pmpro_levels_table tr.odd td {
    font-weight: bold;
    font-size: 20px;
}

#pmpro_levels_table tr.odd td strong {
    font-style: italic;
    font-weight: normal;
}

.pmpro_checkout-fields .input {
    width: 100%;
    padding: 7px;
}

.pmpro_checkout-fields label {
    color: #474747;
    text-transform: uppercase;
    font-weight: bold;
    }

.pmpro_btn-submit-checkout {
    background-color: #474747;
}


