/*
Theme Name: Memberlite Words
Theme URI: http://demo.memberlitetheme.com/words/
Description: Words can speak louder than pictures in this child theme for Memberlite.
Author: Kim Coleman, Travis Lima
Author URI: https://memberlitetheme.com/  
Template: memberlite
Version: 1.0
License: GPL-2.0+  
License URI: http://www.gnu.org/licenses/gpl-2.0.html  
*/

body,
button,
input,
select,
textarea,
.btn,
#main div.em-search-main button.em-search-submit {
	color: #474747;
}
/*--------------------------------------------------------------
5.2 Menus
--------------------------------------------------------------*/
#site-navigation {
	background: none;
	border: none;
}
#site-navigation .main-navigation > ul {
	text-align: center;
}
#site-navigation .main-navigation > ul li {
	float: none;
	display: inline-block;
}
#site-navigation .main-navigation > ul li a {
	border: none;
	color: #474747;
}
/*--------------------------------------------------------------
5.4 Prev/Next Navigation
--------------------------------------------------------------*/
.site-main .post-navigation {
	margin-bottom: 5.8rem;
}
/*--------------------------------------------------------------
10.1 Header and Member Meta
--------------------------------------------------------------*/
#meta-member {
	position: fixed;
    right: 2.9rem;
    z-index: 10;
}
#meta-member .meta-member-inner {
	background: #F1F1F1;
	border-radius: 0;
	color: #474747;
	font-size: 1.8rem;
}
#meta-member .user {
}
#meta-member a {
	color: #474747;
	display: inline-block;
	text-decoration: none;
}
#meta-member a:hover {
	color: #000;
}
#meta-member .member-navigation li {
	border-right: 1px solid #DDD;
	display: inline-block;
	margin: 0;
	position: relative;
}
#meta-member .member-navigation li:last-child {
	border: none;
}
#meta-member .member-navigation li a {
	margin: 0 1rem;
}
#meta-member .member-navigation .sub-menu,
#meta-member .member-navigation ul li:hover > ul {
	display: none;
}
.site-branding {
	margin: 2.9rem 0;
	text-align: center;
}
.site-branding a.custom-logo-link {
	float: none;
}
.site-branding a.custom-logo-link .custom-logo {
	max-height: 200px;
}	
.site-branding a.custom-logo-link img {
	border-radius: 50%;
	transform: scale(1.0);
}
.site-branding .site-title {
	margin: 0;
}
.site-branding .site-description {
	font-style: normal;
	margin: 0;
}
.masthead_words {
	margin: 2.9rem 0;
}
.splash-image {
	display: block;
	margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    max-width: 1000%;
    text-align: center;
    width: auto;
}
.splash-image img {
	max-width: 70%;
}
.category.archive .masthead_words,
.search .masthead_words {
	background: #F1F1F1;
	border: 1px solid #CCC;
	padding: 1.45rem;
	text-align: center;
}
.page .masthead_words h1 {
	text-align: center;
}
.single .masthead_words h1 {
	margin: 0 0 1.45rem 0;
}
.hentry {
	margin: 2.9rem 0 8.7rem 0;
}
.single .hentry {
	margin-bottom: 2.9rem;
}
#primary .hentry .entry-meta,
#primary .entry-meta,
#primary .entry-footer {
	font-size: 1.4rem;
	font-style: normal;
	color: #474747;
	margin-bottom: 2.9rem;
}
#primary .hentry .entry-meta a,
#primary .entry-meta a,
#primary .entry-footer a {
	color: #474747;
	text-decoration: none;
}
#primary .hentry .entry-meta a:hover,
#primary .entry-meta a:hover,
#primary .entry-footer a:hover {
	border-bottom: 1px dotted #777;
}
#primary .entry-meta span {
	display: inline-block;
	margin-right: .9rem;
}
#primary .entry-meta span:before {
	font-family: 'Font Awesome 5 Free';
	font-weight: 700;
	padding-right: 3px;
}
#primary .entry-meta span.post_meta_author:before {
	content: '\f007';
}
#primary .entry-meta span.post_meta_author_posts_link:before {
	content: '\f007';
}
#primary .entry-meta span.post_meta_categories:before {
	content: '\f5fd';
}
#primary .entry-meta span.post_meta_comments:before {
	content: '\f086';
}
#primary .entry-meta span.post_meta_date:before {
	content: '\f133';
}
#primary .entry-meta span.post_meta_permalink:before {
	content: '\f0c1';
}
#primary .entry-meta span.post_meta_tags:before {
	content: '\f02c';
}
#primary .entry-meta span.post_meta_time:before {
	content: '\f017';
}
#primary .entry-meta span.post_meta_title:before {
	content: '\f08d';
}
.post.entry-header-grid .entry-header {
	display: block;
}
.post.entry-header-grid .entry-header .entry-title {
	margin-bottom: 1.45rem;
}
.masthead-post-byline {
	display: block;
    margin: 1.45rem 0 0 0;
}
.post .entry-footer {
	background: none;
	border: none;
	font-style: normal;
	padding: 0;
}
.post.pmpro-no-access .entry-content {
	border: none;
}

/*--------------------------------------------------------------
10.7 Footer
--------------------------------------------------------------*/
.site-footer,
.footer-widgets {
	background: #F1F1F1;
	color: #474747;
}
.footer-widgets {
	padding: 2.9rem 0;
}
.footer-widgets a:not(.btn) {
	color: #474747;
}
.footer-widgets a:hover:not(.btn) {
	color: #474747;
	border-bottom: 1px dotted #474747;
}
.footer-navigation ul {
	border-top: 1px solid #CCC;
	text-align: center;
}
.footer-navigation ul li {
	border: none;
}
.footer-navigation ul li a {
	color: #474747;
}
.site-footer .site-info {
	text-align: center;
}
.site-footer .site-info .copyright-textbox {
	margin-bottom: 2.9rem;
}
.site-footer .site-info p,
.site-footer .site-info a {
	color: #474747;
	font-style: normal;
}
.site-footer .site-info a {
	text-decoration: none;
}

#memberlite-words-post-meta i:not(:first-child){
    margin-left:1.5%;
    
}
/*--------------------------------------------------------------
11.1 Paid Memberships Pro Integrated Styles - Level Page & Checkout
---------------------------------------------------------------*/
div.pmpro_content_message {
	background: #F1F1F1;
	border: 1px solid #CCC;
	border-radius: 0;
	color: #474747;
	padding: 2.9rem;
}
#pmpro_levels_table thead tr th {
    display: none;
}
#pmpro_levels_table tr:first-child td {
	border-top: 1px dotted #CCC;
}
#pmpro_levels_table tr td:first-child {
	font-size: 2.1rem;
	font-weight: bold;
}
#pmpro_pricing_fields {
	background: #F1F1F1;
	border: 1px solid #CCC;
	padding: 2.9rem;
}
#pmpro_pricing_fields h3 {
	display: none;
}
#pmpro_pricing_fields > .pmpro_checkout-fields > p:nth-child(1) {
	font-size: 2.2rem;
}
#pmpro_user_fields hr {
	display: none;
}
.pmpro_checkout-fields .input {
	padding: .45rem;
	width: 90%;
}
form.pmpro_form label,
#loginform label {
	font-weight: bold;
}
form.pmpro_form .pmpro_submit,
form.pmpro_form #pmpro_processing_message {
	text-align: center;
}
#primary .pmpro_login_wrap,
#primary .pmpro_lost_password_wrap,
#primary .pmpro_reset_password_wrap {
	background: #F1F1F1;
	border: 1px solid #CCC;
	padding: 2.9rem;
	max-width: 400px;
	margin: 0 auto;
}
.pmpro_login_wrap input[type=text],
.pmpro_login_wrap input[type=password],
.pmpro_login_wrap input[type=email],
.pmpro_lost_password_wrap input[type=text],
.pmpro_reset_password_wrap input[type=password] {
	max-width: 100%;
	width: 100%;
}
.pmpro_login_wrap input[type="submit"],
.pmpro_lost_password_wrap input[type="submit"],
.pmpro_reset_password_wrap input[type="submit"] {
	width: 100%;
}
.pmpro_login_wrap p.pmpro_actions_nav,
.pmpro_lost_password_wrap p.pmpro_actions_nav,
.pmpro_reset_password_wrap p.pmpro_actions_nav {
	margin: 0;
	text-align: center;
}
.pmpro_reset_password_wrap form.pmpro_form #pass-strength-result,
form.pmpro_form .pmpro_change_password-fields #pass-strength-result {
	font-size: 1.4rem;
	margin: 5px 0 0 0;
	max-width: 100%;
	padding: 1px;
}
.pmpro_reset_password_wrap form.pmpro_form .lite,
form.pmpro_form .pmpro_change_password-fields .lite {
	font-size: 1.4rem;
	line-height: 2.2rem;
	margin-top: 5px;
}

@media only screen and (max-width: 767px) {
	.site-header .row {display: block; }
	.site-header .site-branding {margin: 1.45rem 0; }
	button.menu-toggle {background: none; box-shadow: none; border-radius: 0; top: 15px; position: absolute; right: 15px; -webkit-transform: none; transform: none;}
	button.menu-toggle:hover {color: #000; }
	#meta-member {display: none; }
}

